@import '~bootstrap';

body {
    margin: 0;
    min-height: 100vh;
}

@import 'home';
@import 'clients';
.msg-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
    .msg-bin {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 400px;
        
    }
}

.login {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    .card-header {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
}

form.logout {
    display: inline-block;
    margin-left: 50px;
    button .logname{
        border: none;
        outline: none;
        background-color: transparent;
    }
}
a.nav-link.log {
    color: black;
    border: solid 1px black;
    padding-bottom: 0;
    line-height: 19px;
}

.form-create {
    max-width: 400px;
    margin: 0, auto;
    color: rgb(14, 73, 181);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}


