.home {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100vh;
    h1 {
        color: skyblue;
        font-size: 150px;
        .sub {
            color: crimson;
            font-size: 30px;
            justify-content: center;
            align-items: center;
            display: flex;
        }
    }
}

